.ListItem {
  display: flex;
  align-items: center;
}

.ListItem-icon {
  cursor: default;
  box-sizing: border-box;
  height: 24px;
  margin: 8px 16px;
  color: var(--icon-color-active);
}

.ListItem-text {
  flex: 1 0;
  margin: 0 16px;
  padding: 13px 0;
  line-height: 1;
}

.ListItem-Caption,
.ListItem-TagList {
  display: flex;
  align-items: top;
}

.ListItem-html,
.ListItem-tags {
  flex: 1 0;
  margin: 0 16px;
  padding: 13px 0;
  border-top: 1px solid var(--divider-color);
}

.ListItem-html {
  word-break: break-all;
}
