{
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
