{
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    ["babel-plugin-styled-components", {
      "ssr": false
    }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
