:root {
  --color-primary:         #2196F3; /* Blue-500 */
  --color-primary-dark:    #1565C0; /* Blue-800 */
  --color-primary-light:   #90CAF9; /* Blue-200 */
  --color-secondary:       #FF9800; /* Orange-500 */
  --color-secondary-dark:  #EF6C00; /* Orange-800 */
  --color-secondary-light: #FFCC80; /* Orange-200 */

  --color-status:      #E0E0E0; /* Grey-300 */
  --color-app:         #F5F5F5; /* Grey-100 */
  --color-bg:          #FAFAFA; /* Grey-50  */
  --color-card:        #FFFFFF; /* White    */
  --color-dark-status: #000000; /* Black    */
  --color-dark-app:    #212121; /* Grey-900 */
  --color-dark-bg:     #303030;
  --color-dark-card:   #424242; /* Grey-800 */

  --backdrop:  rgba(0,0,0,.85);
  --dark-lv1:  rgba(0,0,0,.02);  /* Grey-50  */
  --dark-lv2:  rgba(0,0,0,.04);  /* Grey-100 */
  --dark-lv3:  rgba(0,0,0,.125); /* Grey-300 */
  --light-lv1: rgba(255,255,255,.13); /* Grey-900 */
  --light-lv2: rgba(255,255,255,.19);
  --light-lv3: rgba(255,255,255,.26); /* Grey-800 */

  --text-color-primary:        rgba(0,0,0,.87);
  --text-color-secondary:      rgba(0,0,0,.54);
  --text-color-disabled:       rgba(0,0,0,.38);
  --text-color-hint:           var(--text-color-disabled);
  --text-color-dark-primary:   rgba(255,255,255,1.0);
  --text-color-dark-secondary: rgba(255,255,255,.70);
  --text-color-dark-disabled:  rgba(255,255,255,.50);
  --text-color-dark-hint:      var(--text-color-dark-disabled);

  --icon-color-active:        var(--text-color-secondary);
  --icon-color-inactive:      var(--text-color-disabled);
  --icon-color-dark-active:   var(--text-color-dark-primary);
  --icon-color-dark-inactive: var(--text-color-dark-disabled);

  --divider-color:      rgba(0,0,0,.12);
  --divider-dark-color: rgba(255,255,255,.12);

  --base-font-family: Roboto, Meiryo, sans-serif;
  --base-font-size: 14px;
  --base-line-height: 20px;

  --ease-standard:     cubic-bezier(.4,0,.2,1);
  --ease-deceleration: cubic-bezier( 0,0,.2,1);
  --ease-acceleration: cubic-bezier(.4,0, 1,1);
  --ease-sharp:        cubic-bezier(.4,0,.6,1);

  --shadow: 0 2px 2px 0    rgba(0,0,0,.14),
            0 3px 1px -2px rgba(0,0,0,.20),
            0 1px 5px 0    rgba(0,0,0,.12);
}
