.Dialog {
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--text-color-primary);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 20px;
}

.Dialog:not([open]) {
  display: none;
}

dialog.Dialog::backdrop {
  background-color: rgba(0,0,0,.85);
}

.Dialog a {
  color: var(--color-primary);
}
