.IconButton {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  padding: 12px;
  z-index: 1;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--icon-color-active);

  transition: .2s var(--ease-standard);
  transition-property: background-color, color, opacity;
}

.IconButton:focus {
  outline-color: currentColor;
}

.IconButton:disabled {
  pointer-events: none;
  color: var(--icon-color-inactive);
}

.IconButton::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 50%;
  background-color: var(--dark-lv3);
  transform: translate(-50%, -50%);
  transition: 215ms var(--ease-standard);
}

.IconButton:focus {
  outline: none;
}

.IconButton:hover::after,
.IconButton:focus::after {
  width: 36px;
  height: 36px;
}

.IconButton.inverse {
  color: var(--icon-color-dark-active);
}

.IconButton.inverse:disabled {
  color: var(--icon-color-dark-inactive);
}

.IconButton.inverse::after {
  background-color: var(--light-lv1);
}

.IconButton.active {
  color: var(--color-secondary);
}
