.ToolBar {
  position: absolute;
  width: 48px;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0,0,0,0.65), transparent);
  user-select: none;
}

.ToolBar-divider {
  height: 1px;
  margin: 4px 2px;
  background-color: var(--divider-dark-color);
}

.ToolBar-bottom {
  position: absolute;
  bottom: 0;
}
