<img
  v-attr="
    src: src,
    data-padding: config.padding
  "
  v-show="done && !thumbsView"
  v-on="
    load: load,
    error: error,
    click: move,
    dragstart: grab,
    drag: drag
  "
  v-fit="config.fit"
>
<div class="pv-msg"
  v-show="fail && !thumbsView"
  v-on="click: move"
  >画像が読み込めません</div>

<ul class="pv-thumbs" v-if="thumbsView">
  <li v-repeat="thumbs"
      v-class="current: page === $index"
      v-on="click:select($event, $index)"
      class="_ui-tooltip" data-tooltip="{{$index + 1}}"><img v-attr="src: $value"></li>
</ul>
<div class="pv-page" v-if="!thumbsView">
  <span v-text="page + 1"></span>
  <span>/</span>
  <span v-text="pix.illust.length"></span>
  <button class="_ui-tooltip btn" v-on="click:showThumbs"
  data-tooltip="サムネイル一覧"><span class="fa fa-th-large"></span></button>
</div>
