<h1 class="pv-panel-header">設定</h1>
<div class="pv-panel-body">
  <div class="pv-panel-item">
    <label for="pv-config-padding">Padding</label>
    <input id="pv-config-padding" type="number"
      min="5" max="400" required
      v-validate v-model="config.padding">
  </div>
  <div class="pv-panel-item">
    <label for="pv-config-cache">Cache size</label>
    <input id="pv-config-cache" type="number"
      min="1" max="30" required
      v-validate v-model="config.cacheSize">
  </div>
  <div class="pv-panel-item">
    <button class="btn btn-danger btn-block"
      v-on="click:removeConfig">設定を削除する(リロードが発生します)</button>
  </div>
</div>
