.Help {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 0;
  border-radius: 2px;
  background-color: var(--color-card);
  box-shadow: var(--shadow);
  color: var(--text-color-primary);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0em;
}

.Help-title {
  margin: 0;
  padding: 24px 16px 0;
  color: var(--text-color-primary);
  font-weight: 400;
  font-size: 24px;
}

.Help-list {
  padding-top: 16px;
}

.Help-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  color: var(--text-color-primary);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  transition: .2s var(--ease-standard);
}

.Help-item:hover {
  background-color: var(--color-app);
  text-decoration: none;
}

.Help-item:focus {
  background-color: var(--color-app);
  outline: none;
}

.Help-item span:first-child {
  color: var(--icon-color-active);
}

.Help-text {
  padding-left: 32px;
}

.Help-subhead {
  margin: 0;
  padding: 20px 16px 0;
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.Help-table {
  width: 100%;
  columns: 2;
  padding: 16px 0;
}

.Help-table td {
  padding: 8px 16px;
}

.Help-table kbd {
  display: inline-block;
  margin: 1px;
  padding: 0 8px;
  border: 1px solid var(--divider-color);
  border-radius: 2px;
  font-family: "Source Code Pro", "Consolas", monospace;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.Help-table kbd + kbd {
  margin-left: 8px;
}
