.Editor {
  overflow: auto;
  width: 960px;
  height: fit-content;
  max-height: 100vh;
  margin: auto;
  padding: 0;
  border-radius: 2px;
  background-color: var(--color-card);
  box-shadow: var(--shadow);
}

.Editor-header {
  background-color: var(--color-primary);
}

.Editor-main {
  display: flex;
  padding: 8px;
}

.Editor-thumbnail {
  object-fit: contain;
  width: 256px;
  height: 320px;
  margin: 8px;
  background-color: var(--color-app);
}

.Editor .bookmark-detail-unit {
  border-radius: 0;
  overflow: visible;
  width: 656px;
  min-height: auto;
  margin: 0;
  padding: 8px;
}

.Editor .input-box {
  box-sizing: border-box;
}

.Editor .input-box input::-webkit-input-placeholder {
  color: var(--text-color-disabled);
}

.Editor .input-box.ui-counter {
  margin-top: 0;
}

.Editor .count {
  width: 93px;
}

.Editor .tagListTitle {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
}
